{% extends "template.html" %}

{%block article%}

<H2>Atenção</H2>

<h3>😔 Oops! Página Não Encontrada</h3>
<p>Parece que você se deparou com um desvio inesperado em nossa jornada. A página que você está procurando não está aqui. </p>
<p>O que fazer agora?</p>

<p>Verifique o URL: Tem certeza de que digitou tudo corretamente?</p>
<ul>
    <li>Volte para o início: Clique aqui para retornar à nossa página inicial e explorar mais.</li>
    <li>Diga-nos o que aconteceu: Se você acredita que isso é um erro, entre em contato e nos avise!</li>
    <li>Agradecemos sua compreensão e esperamos vê-lo novamente em breve!</li>
</ul>





{% endblock %}


{% block aside %}


{% endblock %}