{% extends "template.html" %}

{%block article%}

<h1>Quem somos</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio harum, consequuntur
    qui in fuga voluptatum unde ipsam. Atque, voluptas fugiat ullam sapiente recusandae, dolores
    molestias culpa, quidem perspiciatis minima earum?
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil sequi debitis nulla sit soluta
    deserunt quod ea ullam beatae praesentium fugiat facilis doloremque optio ipsam, enim ut. Molestias,
    soluta hic.</p>
<img src="https://picsum.photos/id/1/200/300" alt="Foto aleatória">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio harum, consequuntur
    qui in fuga voluptatum unde ipsam. Atque, voluptas fugiat ullam sapiente recusandae, dolores
    molestias culpa, quidem perspiciatis minima earum?
</p>
{% endblock %}


{% block aside %}

<h3>Saiba mais</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas repellat cupiditate asperiores quia nulla non nemo, corrupti ratione error dolorum amet sapiente. Voluptate dolores consequuntur, quis consectetur deserunt quibusdam ducimus.</p>

{% endblock %}