{% extends "template.html" %}

{%block article%}

<h1>Quem somos</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat deserunt numquam enim, facilis labore vero ducimus odio aliquid officia magnam, natus amet quibusdam quisquam nihil recusandae in? Dolor, eius.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus perspiciatis incidunt porro assumenda dolore similique quaerat, quas quae laboriosam laborum ipsa recusandae aut, consectetur, dignissimos ad. Ratione ipsam consequuntur recusandae?</p>

{% endblock %}


{% block aside %}

<h3>Saiba mais</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas repellat cupiditate asperiores quia nulla non nemo, corrupti ratione error dolorum amet sapiente. Voluptate dolores consequuntur, quis consectetur deserunt quibusdam ducimus.</p>

{% endblock %}