{# Este comando indica que o arquivo atual estende um template base chamado "template.html" #}
{% extends "template.html" %} 


{# Início do bloco "article", que será preenchido na página final #}
{% block article %} 

{# Título da seção de artigos #}
<h2>Artigos </h2> 

{# Início de um contêiner para organizar os artigos em uma grade #}
<div class="article-grid"> 

    {# Laço que itera sobre a lista de artigos disponível na variável "page.articles" #}
    {% for articles in page.articles %} 

    {# Cada artigo é apresentado
        em uma "caixa". Ao clicar, redireciona para a página do artigo, usando o ID do artigo #}
    <div class="article-box" onclick="location.href = '/view/' + {{ articles['art_id'] }}">
        
        {# Imagem em miniatura do artigo,
            com o título como texto alternativo #}
        <img src="{{ articles['art_thumbnail'] }}" alt="{{ articles['art_title'] }}"> 
        <div> {# Início de um contêiner para o título e resumo do artigo #}

            {# Título do artigo #}
            <h4>{{ articles['art_title'] }}</h4> 

            {# Resumo do artigo em uma tag pequena #}
            <small>{{ articles['art_resume'] }}</small> 
        </div>
    </div>

    {# Fim do laço #}
    {% endfor %} 

</div> {# Fim do contêiner de artigos #}

{# Fim do bloco "article" #}
{% endblock %} 

{# Início do bloco "aside", para conteúdo adicional #}
{% block aside %} 

{# Título para a seção "aside" #}
<h3>Meu Aside</h3> 
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> {# Texto de exemplo em latim #}

{# Fim do bloco "aside" #}
{% endblock %} 