<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#
    Comentário em python (Flask) no html
    #}
    <link rel="stylesheet" href="/static/css/template.css">
    
    {#Carrega o CSS adicional, caso exista#}
    {% if page.css %}
    <link rel="stylesheet" href="/static/css/{{page.css}}">
    {% endif %}

    {#Icone do Site#}
    <link rel="shortcut icon" href="{{page.site.LOGO}}">

    {#A linha abaixo atualiza o titúlo da página#}
    {%if page.title == "" %}
    <title>{{page.site.NAME}}</title>
    {% else %}
    <title>{{page.site.NAME}} - {{page.title|safe}}</title>
    {% endif %}
</head>

<body>

    <div id="wrap">

        <header>

            <div>
                <a href="/"><img src="{{page.site.LOGO}}" alt="logotipo do site {{page.site.NAME}}"></a>
                <h1>{{page.site.NAME}}</h1>
                
            </div>
            
            <form action="/search" method="get">
                <input type="search" name="q" placeholder="Procurar...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </header>
    
        <nav>
            <a href="/">Inicío</a>
            <a href="/contacts">Contatos</a>
            <a href="/about">About</a>
        </nav>
    
        <main>           
    
            <article>
                {% block article %}{% endblock %}
            </article>
    
            <aside>
                {% block aside %}{% endblock %}
            </aside>
    
        </main>
    
        <footer><a href="/"><i class="fa-solid fa-house fa-fw"></i></a>
            <div>
                © 2024 {{ page.site.OWNER }}
                <small>
                    <a href="/contacts">Faça contato</a>&nbsp;|&nbsp;<a href="/privacy">Políticas de Privacidade</a>
                </small>
            </div>
            <a href="#wrap"><i class="fa-solid fa-circle-up fa-fw"></i></a>            
        </footer>

    </div>

    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/template.js"></script>
    {%if page.js%}
    <script src="/static/js/{{page.js}}"></script>
    {% endif %}
</body>

</html>