{% extends "template.html" %}

{% block article %}
<!-- Título do artigo -->
<h2>{{ page.article['art_title'] }}</h2>

<!-- Informações do autor e data -->
<div class="author-date">
    Por {{ page.article['sta_name'] }}
    <span> em {{ page.article['art_datebr'] }}</span>
</div>

<!-- Conteúdo do artigo, seguro contra injeções de HTML -->
{{ page.article['art_content'] | safe }}


<div class="comment-form" id="comments">

    <h3>Comente aqui</h3>
    <p class="required">Todos os campos obrigatórios!</p>

    <form action="/comment" method="post">
        <input type="hidden" name="artid" value="{{page.article['art_id']}}">

        <div class="comment-field">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required minlength="3">
        </div>

        <div class="comment-field">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <textarea name="comment" required minlength="5"></textarea>

        <div>
            <button type="submit" title="&larr; Clique somente uma vez">Enviar</button> 
            <small><!--&larr; Clique somente uma vez--></small>   
        </div>
    </form>

</div>


{% if page.total_comments == 0 %}

<p class="no-comment">Seja o primeiro a comentar!</p>

{% else %}

<div class="comment-list">

    <h3>{{ page.total_comments }} comentários recentes</h3>

    <div class="comment-grid">

        {% for comment in page.comments %}

        <div class="comment-box">
            <small>Por {{ comment.com_author_name }} em {{ comment.com_datebr }}</small>
            <div>{{ comment.com_comment }}</div>
        </div>

        {% endfor %}

    </div>

</div>

{% endif %}



{% endblock %}

{% block aside %}
<!-- Nome do autor na seção lateral -->
<h3>{{ page.article['sta_name'] }}</h3>

<div class="aside-author">
    <!-- Imagem do autor -->
    <img src="{{ page.article['sta_image'] }}" alt="Foto do {{ page.article['sta_name'] }}">

    <ul>
        <li>{{ page.article['sta_age'] }} anos</li>
        <li>{{ page.article['sta_type'] }}</li>
    </ul>

    <!-- Descrição do autor -->
    {{ page.article['sta_description'] }}
</div>

<!-- Verifica se há artigos relacionados -->
{% if page.articles %}
<h3>
    <i class="fa-solid fa-plus"></i> Artigos de {{ page.article['sta_first'] }}
</h3>

<div class="aside-grid">
    <!-- Loop através dos artigos relacionados -->
    {% for article in page.articles %}
    <div class="aside-article" onclick="location.href = '/view/{{ article['art_id'] }}'">
        <img src="{{ article['art_thumbnail'] }}" alt="{{ article['art_title'] }}">
        <div>{{ article['art_title'] }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
